// main: ./main.scss

$default-font-color: #000;
$background-color: #4a90e2;
$new-item-bgcolor: lightyellow;
$container-bgcolor: #f2f2f2;
$container-bordercolor: #000;
$textbox-bordercolor: lightgray;
$button-textcolor: #fff;
// $add-button-color: #4caf50;
$add-button-color: #2dc133;
// $clear-button-color: #9f6060;
$clear-button-color: #b92b2b;
$link-color-hover: #b45922;

$dark-grey: #1f1f1f;
$box-shadow: 2px 2px 8px $dark-grey;

@mixin mq($size) {
  @media only screen and (min-width: $size) {
    @content; /* lets us pass content block into mixin */
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1rem;
  @include mq(768px) {
    font-size: 1.375rem;
  }
}

body {
  // font-family: "Montserrat", sans-serif;
  font-family: 'Roboto', sans-serif;
  color: $default-font-color;
  width: 100%;
  min-height: 100%;
  padding: 20px;
  background-color: $background-color;
}

section {
  width: 90%;
  max-width: 700px;
  margin: auto;
  border: 1px solid $container-bordercolor;
  border-radius: 10px;
}

footer {
  // font-size: 0.95rem;
  margin-top: 0.7rem;
  text-align: center;
  color: $button-textcolor;

  p {
    padding-bottom: 0.2rem;
  }

  @include mq(768px) {
    font-size: 0.8rem;
  }

  .githubIcon {
    color: black;
  }
}

hr {
  border-top: 2px solid black;
}

a {
  // color: #3399ff;
  font-weight: 600;
  text-decoration: none;
  &:hover,
  &:focus {
    color: $link-color-hover;
    filter: drop-shadow(1px 1px 2px $dark-grey) brightness(120%);
  }
}
