// main: ./main.scss

.listContainer {
  min-height: 60vh;
  padding: 0.75rem;

  .listTitle {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    button {
      font-size: 1rem;
      background-color: $clear-button-color;
      padding: 0 0.1rem;
      margin-bottom: 0.5rem;
      @include mq(768px) {
        padding: 0 0.5rem;
      }
    }

    hr {
      width: 100%;
    }
  }

  .itemContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    // background-color: lightblue;
  }

  .delete {
    // background-color: lightgreen;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }

  .item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    // background-color: lightyellow;

    input[type='checkbox'] {
      text-align: center;
      width: 2.5rem;
      min-width: 48px;
      height: 2.5rem;
      min-height: 48px;
      cursor: pointer;
      margin-right: 1.5rem;
    }

    input[type='checkbox']:focus + label {
      text-decoration: underline;
    }

    label {
      font-size: 1.1rem;
      padding-right: 1.1rem;
      word-break: break-word;
    }
  }

  .itemsHeader {
    padding-top: 1rem;
  }

  .checkedItems {
    margin-top: 1rem;

    label {
      text-decoration: line-through;
    }
  }

  .confirmation {
    position: absolute;
    left: -10000px;
  }
}
